*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand";
  font-size: 1.25rem;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(238, 236, 236);
}
img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 0 1rem;
}
main {
  padding: 0 1rem;
  color: gray;
}
figure {
  margin: 0;
}
select {
  height: 1.5rem;
  width: 4rem;
  margin-left: 1rem;
}
h1 {
  margin-block: 0;
}
span {
  margin-inline: 0.2rem;
}
.flex-frame {
  border: 2px solid #f5f5f5;
  border-radius: 5%;
  margin: 0 1rem;
  overflow: hidden;
  background-color: white;
}
.griddiv {
  display: grid;
  background-color: rgba(233, 233, 233, 0.959);
  margin: 1rem;
  border-radius: 5%;
  padding: 1rem;
  gap: 1rem;
  grid-template-areas:
    "price price"
    "ss qs"
    "cs cs"
    "atc atc";
}
.price {
  grid-area: price;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.size-select {
  grid-area: ss;
}
.quant-select {
  grid-area: qs;
}
.color-select {
  grid-area: cs;
}
.add-to-cart {
  grid-area: atc;
  background-color: #485fb9;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 5%;
}
.above-photo-one {
  background-color: #b1b1b2;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  position: absolute;
  width: 10rem;
  text-align: center;
  left: 20rem;
  top: 1rem;
}
.above-photo-two {
  background-color: #b1b1b2;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  position: absolute;
  width: 10rem;
  top: 1rem;
  right: 3rem;
  text-align: center;
}
.below-photo {
  position: relative;
  bottom: 2rem;
  left: 1rem;
  font-size: 0.75rem;
}
.gradient {
  position: relative;
  bottom: 4.5rem;
  color: transparent;
  padding: 2rem;
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 0) 0%,
    white 90%,
    rgb(255, 255, 255) 100%
  );
}
.dot {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 0.3rem;
  border: 0.1rem solid white;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.green {
  background-color: olive;
}
.blueish {
  background-color: rgb(62, 152, 182);
}
.pink {
  background-color: rgba(221, 143, 156, 0.973);
}
